@import "../../assets/variables/color/color.scss";
.home__sidebar {
    width: 26%;
    h2 {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: $color-80;
    }
    p {
        margin: 36px 0 28px ;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: $color-80;
    }
    .sidebar__link {
        display: block;
        margin-bottom: 53px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $color-80;
    }
    .sidebar__social-links {
        display: flex;
        gap: 24px;
    }
}

@media screen and (max-width:820px) {
  .home__sidebar {
    display: none;
  }  
}