$color-100:  #000000;
$color-80: #474747;
$color-60:  #777777;
$color-40: #9A9A9A;
$color-20: #FFFFFF;

$hover-cl: #3D3D3D;

$btn-bc: #FFBA9D;
$footer-bc: #000000;

$display-bc: #FFFFFF;

$search-input-bc: #F4F4F4;
